/*configuração da página html*/
html{
    font-size: 62.5%;
    background-color: #feebeb ;
}

body{
    margin: 0;
    padding: 0;
}

/*configuração de todos os elementos da página*/
*{
    box-sizing: border-box;
    padding: none;
    margin: none;
}


/*configuração do header*/
.header-ofc{
    background-color: #adb895;
    max-width: 25vw;
    display: flex;

}

/*configuração da logo do header*/
.logo{
    
    width: 15rem;
    height: 15rem;
    background-color: #feebeb;
    padding: 1rem;
    margin-left: 1rem;
    border-radius: 50%;
    margin-top: 1rem;
}

/*configuração da saudação que fica junto da logo*/
.user{
    font-size: 5rem;
    color: #feebeb;
    padding: 0.5rem 0rem 0.5rem 1rem;
    font-family: "kalam", cursive;


    
}

/*configuração da div que agrupa o icone e a mensagem de pedidos, logo abaixo do header*/
.text-info{
 
    max-width: 100%;
    display: flex;
    text-align: center;
    margin-left: 2rem;
    margin-top: 3rem;

}


/*configuração da mensagem "pedidos", abaixo do header*/
.pedid{
    text-align: center;
    font-size: 4rem;
    color: #adb895;
    margin-top: 3rem;
    font-family: "Inter", sans-serif;
    
}

/*configuração da imagem da div "text-info"*/
.imgpedid{
    
    filter: invert(56%) sepia(93%) saturate(363%) hue-rotate(303deg) brightness(88%) contrast(84%);
    width: 10rem;
    
}

/*configuração da div que agrupa as informações no meio da tela*/
.container{
    width: 115rem;
    height: 45rem;
    border: solid 1rem #adb895;
    text-align: center;
    background-color:#adb8958c;
    display: flex;
    margin-left: 22%;
    margin-top: -2%;
    
    
    
    
}

/*div que agrupa a tabela*/
.caixa{
    
    max-width: 115vw;
    max-height: 50vh;
    width: 112rem;
    height: 100rem;
    border: none #adb895;
    display:flex;
    flex-direction: row;
    
}

/*configuração da tabela*/
.section-table{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

th{
    font-family: "inter", sans-serif;
    font-size: 2rem;
    padding: 0rem 7rem;
    color: #d17587;

}

td {
    font-family: "inter", sans-serif; 
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    background-color: #d17587;
    
    
}




.numero-pedido{
    border-radius: 10rem 0rem 0rem 10rem;
    
    
}



.coluna-botao{
    border-radius: 0rem 10rem 10rem 0rem;
    font-size: 1.3rem;
    
}

.botoes{
    display: flex;
    flex-direction: row;
    
    
}



.btn-aceitar{
    margin-right: 1rem;
    background-color: #feebeb;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;
}

.btn-recusar{
    background-color: #feebeb;
    border-radius: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    cursor: pointer;

}

.btn-aceitar:hover{
    background-color: #fadcdc;
    scale: 1.04;
}


.btn-recusar:hover{
    background-color: #fadcdc;
    scale: 1.04;
}


.tabela-cliente{
        
    border-spacing: 0rem 2rem;
    display: flex;
    margin-left: 6rem;
    
    
}
/*fim da configuração da tabela*/


/*configuração da table que agrupa as situações dos pedidos*/
.menu-situacao{
    margin-bottom:5rem;

}


.container-situacao{
    
    text-align: center;
    margin-left: 5.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    

}

.situacao-aguardando{
    
    font-family: "inter", sans-serif;
    font-size: 2.5rem;
    padding: 0rem 5rem;
    color: #d17587;
    cursor: pointer;
    
}

.situacao-andamento{
    
    font-family: "inter", sans-serif;
    font-size: 2.5rem;
    padding: 0rem 5rem;
    color: #d17587;
    border-left: solid 0.1rem;
    cursor: pointer;

}

.situacao-concluidos{
    
    font-family: "inter", sans-serif;
    font-size: 2.5rem;
    padding: 0rem 5rem;
    color: #d17587;
    border-left: solid 0.1rem;
    cursor: pointer;
}

.situacao-cancelados{
    
    font-family: "inter", sans-serif;
    font-size: 2.5rem;
    padding: 0rem 5rem;
    color: #d17587;
    border-left: solid 0.1rem;
    cursor: pointer;
    
}

.situacao-aguardando:hover{
    
    background-color: #adb895ad;
    border-radius: 10rem;
    
}

.situacao-andamento:hover{
    
    background-color: #adb895ad;
    border-radius: 10rem;
    

}

.situacao-concluidos:hover{
    
    background-color: #adb895ad;
    border-radius: 10rem;
}

.situacao-cancelados:hover{
    
    background-color: #adb895ad;
    border-radius: 10rem;
}
/*fim da configuração das situações*/


/*configuração do footer*/
footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    
}

.voltar-icon {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.voltar-icon:hover {
    background-color: #adb8957a;
    border-radius: 100%;
    scale: 1.05;
}

.voltar-icon>img {
    max-width: 12rem;
}