/*o font size na tag HTML é para padronizar a fonte em 10px, tornando mais fácil trabalhar com a medida rem*/
html {
    font-size: 62.5%;
}

/*RESET - Utilizado para aplicar os estilos em todo o conteúdo da página*/
* {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*foi aplicado o tamanho do body em 100% do viewport e um background rosa, além do display flex */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #feebeb;
}

/*flor superior - alinhada a direita*/
.divflor {
    display: flex;
    justify-content: flex-end;
}

/*margin-top para fixar o footer no fim do body*/
footer {
    display: flex;
    margin-top: auto;
}

/*aplicado o tamanho das flores*/
.tulipas,
.tulipasbaixo {
    max-width: 20rem;
    max-height: 20rem;
}