@font-face {
    font-family: inter;
    src: url(Fontes/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family: just-another-hand;
    src: url(Fontes/just-another-hand/justanotherhand-regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Kalam:wght@300;400;700&display=swap');


/*o font size na tag HTML é para padronizar a fonte em 10px, tornando mais fácil trabalhar com a medida rem*/
html {
    font-family: "inter", sans-serif;
    font-size: 62.5%;
}

/*RESET - Utilizado para aplicar os estilos em todo o conteúdo da página*/
* {
    outline: 0;
    margin: 0;
    padding: 0;

}

/*CONFIGURAÇÕES DO HEADER*/
header {
    background-color: #ADB895;
}

/*Configurações do header com a logo e saudação ao usuário logado*/
.saudacao_logado {
    background-color: #ADB895;
    max-width: 25%;
    display: flex;
    flex-direction: row;
}

/* Logo da empresa */
#img_mirian {
    padding: 0.7rem;
    max-width: 7rem;
    max-height: 7rem;
    background-color: #FEEBEB;
    border-radius: 50%;
}

/* Texto de saudação */
#txt_ola_mirian {
    font-family: "kalam", cursive;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin-left: 1rem;
    color: #FEEBEB;
    margin-top: 1.3rem;
}

/* CONFIGURAÇÕES BODY - ARTICLE*/
/*Foi aplicado o tamanho do body em 100% do viewport e um background rosa, além do display flex */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #feebeb;
}

article {
    display: flex;
    flex-direction: row;
}

/*CARDÁPIO*/
h1 {
    color: #ADB895;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 4rem;
    margin-top: 0.5rem;

}

#icon-cardapio {
    width: 5rem;
    height: 5.5rem;
}

.cardapio {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    margin-top: 3rem;
    margin-bottom: 10rem;
}

/*CONFIGURAÇÕES ADICIONAR RECHEIO E DOCE*/
/*TEXTO DE ADICIONAR RECHEIO E DOCE*/
p {
    color: #D17587;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0.54rem;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
}

.add-recheio-doce {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    top: 1rem;
}

.adicionar_recheio {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
}

.adicionar_doce {
    display: flex;
    flex-direction: row;
}

.adicionar_doce:hover{
    scale: 1.05;
}
.adicionar_recheio:hover{
    scale: 1.05;
}

#icon_add {
    width: 5rem;
}

/*CSS TABELA*/

table,
th,
td {
    border-radius: 0.7rem;
}

table {
    background-color: #adb895;
    border-collapse: separate;
    border-spacing: 1rem 4rem;
    margin-top: 3rem;
    margin: 1rem;
}

/*TH - CONTENDO O FLEX QUE ALINHA ELE AO TOPO E CANTO DA TABELA*/
th {
    background-color: #DE8686;
    color: #FEEBEB;
    font-size: 2rem;
    margin-left: 10rem;
    padding: 0.5rem;
    display: flex;
    bottom: 5rem;
    right: 11rem;
    position: relative;
}

/*TAMANHO DOS ÍCONES NO TH*/
#icon-recheio-doce {
    width: 3rem;
}

td {
    background-color: #FACECE;
    color: #D17587;
    font-size: 1.5rem;
    font-weight: bold;
    /*topo | direita | inferior | esquerda*/
    padding: 0.7rem 6rem 0.7rem 6rem;
    text-align: center;
    display: flexbox;
    bottom: 4rem;
    position: relative;
}

/*ICONE DELETE - COM FUNÇÃO QUE ALINHA AO CANTO DO TD*/
#delete {
    width: 2.5rem;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

#delete:hover{
    scale: 1.05;
}

.div-tabelas {
    display: flex;
    flex-direction: row;
    margin-left: 35rem;
}

/*CONFIGURAÇÕES DO FOOTER*/
footer {
    display: flex;
    margin-top: auto;
}

footer>div {
    flex-grow: 1;
}

/*Configuração da div "voltar"*/
.voltar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

/*Configuração do icone de voltar*/
.icone_voltar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.icone_voltar:hover {
    background-color: #adb8957a;
    border-radius: 100%;
    scale: 1.05;
}

/*Configuração da imagem da div "voltar"*/
.icone_voltar>img {
    max-width: 10rem;
}
