@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*Configuração da página HTML*/
html {
    font-size: 62.5%;
    font-family: "Inter", sans-serif;
}

/*Configuração de todos os elementos*/
* {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Configuração do corpo do HTML*/
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #feebeb;
}

/*Configuração da tag "p"*/
p {
    color: red;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 0.7rem;
}

/*Configuração do header*/
header {
    display: flex;
    flex-direction: line;
}


header>div {
    flex-grow: 1;
}

/*Configuração da div que inclui a logo*/
.divlogo {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

/*Configuração da logo localizada no header*/
.logo {
    margin: 2rem;
    max-width: 15rem;
    max-height: 15rem;
}


/*Configuração do texto principal  "Mirian Cakes Confeitaria Artesanal"*/
header>div>h1 {
    color: #adb895;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 8rem;
    margin-left: 2rem;
}

/*Configuração da div que contém a imagem da tulipa superior*/
.divflor {
    display: flex;
    justify-content: flex-end;
}

/*Configuração do container principal */
.container {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;

}


.container>div {
    padding: 2rem;
}


.container>div>label {
    color: #adb895;
    font-size: 2rem;
    font-weight: bold;

}


.container>div>input {
    background-color: #FACECE;
    width: 100%;
    border: none;
    height: 3rem;
    border-radius: 0.5rem;
}

/*Configuração dos campos de nova senha e confirmar nova senha*/
.nova_senha,
.confirmar_senha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 40%;
}


.nova_senha>input,
.confirmar_senha>input {
    height: 5rem;
    padding: 2rem;
}


.confirmar_senha {
    justify-content: flex-start;
}

/*Configuração do botão de alterar nova senha*/
.botao_alterar {
    margin-top: auto;
    background-color: #adb895;
    color: #feebeb;
    border: none;
    border-radius: 0.6rem;
    height: 4rem;
    width: 10%;
    font-size: 1.8rem;
    font-weight: bold;
}


.botao_alterar:hover {
    scale: 1.05;
    filter: grayscale(30%);
}

/*Configuração do footer*/
footer {
    display: flex;
    margin-top: auto;
}


footer>div {
    flex-grow: 1;
}

/*Configuração da div "voltar"*/
.voltar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

/*Configuração do icone de voltar*/
.icone_voltar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    margin-bottom: 1rem;
}


.icone_voltar:hover {
    background-color: #adb8957a;
    border-radius: 100%;
    scale: 1.05;
}

/*Configuração da imagem da div "voltar"*/
.icone_voltar>img {
    max-width: 12rem;
}

/*Configuração da imagem das tulipas*/
.tulipas,
.tulipasbaixo {
    max-width: 20rem;
    max-height: 20rem;
}