@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*HTML-BODY-HEADER*/
html {
    font-size: 62.5%;
    font-family: "inter", sans-serif;
}

* {
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #feebeb;
}

header {
    display: flex;
    flex-direction: line;
    background-color: #adb895;
}

/* Utilizado para que as duas divs do header dividam a tela */
header>div {
    flex-grow: 1;
}

/* Configuração da div que contém logo/nome do sistema */
.divlogo {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

/* Configuração logo sistema */
.logo {
    margin: 1rem;
    padding: 1rem;
    max-width: 8rem;
    max-height: 8rem;
    background-color: #FEEBEB;
    border-radius: 50%;
}


/* Configurações do nome do sistema no header */
header>div>p {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #feebeb;
    display: flex;
    flex-direction: column;
}


/* Configuração da saudação ao usuário no header */
.saudacao_usuario {
    display: flex;
    justify-content: flex-end;
    align-items: start;
}

/* Ícone que identifica que o usuário logado */
.icone_perfil {
    margin-right: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    max-width: 8rem;
    max-height: 8rem;
    background-color: #FEEBEB;
    border-radius: 50%;
    border: 0.2rem solid #D17587;
    ;
}

/* Configuração texto "Olá, Usuário" */
.saudacao_usuario>p {
    margin-right: 8rem;
    margin-top: 3.5rem;
    font-size: 2.5rem;
    font-weight: bold;
    color: #feebeb;
}


article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrega{
    margin-right: 2rem;
}

.retirada{
    margin-left: 3rem;
}

/*SELECIONE ENDEREÇO ENTREGA*/
p {
    color: #D17587;
    font-size: 1.3rem;
    font-weight: bold;
}

/*CONFIGURAÇÕES FORMULÁRIO*/
fieldset {
    border: 0.5rem solid #ADB895;
    border-radius: 0.7rem;
}

legend {
    background-color: #ADB895;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: #feebeb;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.3rem 1rem;
}

input {
    border: none;
}

input[type=date] {
    background-color: #ADB895;
    border-radius: 0.5rem;
    font-family: inter;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #feebeb;
    padding: 0.5rem 1rem;
}

input[type=time] {
    background-color: #ADB895;
    border-radius: 0.5rem;
    color: #feebeb;
    font-family: inter;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    width: 20.5rem;
}

label {
    color: #ADB895;
    font-size: 2.5rem;
    font-weight: bold;

}

/*NOVO PEDIDO*/
h1 {
    font-size: 4rem;
    color: #DE8686;
    margin-top: 0.5rem;
}

/*IR PARA PAGAMENTO*/
h4 {
    font-size: 1.5rem;
    color: #feebeb;
}

.ir_para_pagamento {
    background-color: #D17587;
    border-radius: 0.5rem;
    width: 20rem;
    height: 3rem;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
}

.ir_para_pagamento:hover{
    scale: 1.07;
    filter: brightness(80%);
}

#icone_pix {
    width: 2rem;
    height: 2.3rem;
    margin-left: 1rem;
}

/*CONFIGURAÇÕES TABELA*/
table {
    background-color: rgba(173, 184, 149, 0.5);
    border-radius: 1rem;
    border-spacing: 0rem 1rem;
    width: 90rem;
    padding: 0rem 1rem;
    margin-top: 5rem;
}

th {
    font-size: 2rem;
    font-weight: 600;
    color: #feebeb;
    background-color: #DE8686;
    border-radius: 1.3rem;
    margin-left: 10rem;
    padding: 0.5rem 0rem;
    position: relative;
    bottom: 3rem;
}

td {
    background-color: #ADB895;
    font-size: 1.8rem;
    font-weight: bold;
    color: #D17587;
    padding: 1rem;
    text-align: center;

}

.coluna_esquerda {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.coluna_direita {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.fundo_ultima_linha {
    background-color: rgba(173, 184, 149, 0);

}

#valor_total {
    background-color: #D17587;
    border-radius: 1rem;
    color: #feebeb;
    padding: 1rem 0.5rem 1rem 0.5rem;
}

/*CONFIGURAÇÕES DE FORMULÁRIO*/
.modo_data_hora_seleçao {
    width: 90rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;

}

/*FORMULÁRIO DATA E HORA*/
.tam_calen_relo {
    width: 3.65rem;
    display: flex;
}

.data_hora_entrega {
    display: flex;
    flex-direction: row;
}

#fundo_calen_relog {
    background-color: #ADB895;
    border-radius: 0.5rem;
}

.data_de_entrega {
    display: flex;
    flex-direction: column;
}

.icon_input_data_hora {
    display: flex;
    flex-direction: row;
}

/*FORMULÁRIO ENTREGA OU RETIRADA*/
#label_entrega_retirada {
    color: #D17587;
    font-size: 1.7rem;
}

.entrega_retirada {
    display: flex;
    flex-direction: row;
}

/*FORMULÁRIO DE SELEÇÃO DE ENDEREÇO*/
select {
    background-color: #ADB895;
    border: none;
    border-radius: 0.5rem;
    color: #feebeb;
    font-family: inter;
    font-weight: bold;
    padding: 0.3rem 11rem 0.3rem 0rem;

}

option {
    color: #feebeb;
    font-weight: bold;

}

.seleçao_endereço {
    display: flex;
    flex-direction: column;
}

/*FORMULÁRIO NOVO ENDEREÇO*/
.fieldset_endereço {
    display: flex;
    flex-direction: column;

}

.form_endereço {
    width: 90rem;
    margin-top: 3rem;
}

.fieldset_endereço {
    padding: 1rem;
}

/*LINHA 1 DO FORMULÁRIO ENDEREÇOS*/
.cep_rua_n {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*LINHA 2 DO FORMULÁRIO ENDEREÇOS*/
.bairro_cidade_complemento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*DIV EM ROW CEP - ÍCONE DE LUPA */
.cep {
    display: flex;
    flex-direction: row;
}

#lupa {
    width: 2.5rem;
    background-color: #FACECE;
    border-radius: 0.3rem;
    margin-left: 0.5rem;
}

/*CONFIGURAÇÕES DOS CAMPOS DE ENDEREÇO*/
.campo_cep {
    background-color: #FACECE;
    height: 2.5rem;
    border-radius: 0.5rem;
}

.campo_rua {
    background-color: #FACECE;
    height: 2.5rem;
    border-radius: 0.5rem;
    filter: brightness(80%);
}

.campo_n {
    background-color: #FACECE;
    height: 2.5rem;
    border-radius: 0.5rem;
}

.campo_cidade {
    background-color: #FACECE;
    height: 2.5rem;
    border-radius: 0.5rem;
    filter: brightness(80%);
}

.campo_bairro {
    background-color: #FACECE;
    height: 2.5rem;
    border-radius: 0.5rem;
    filter: brightness(80%);
}

.campo_complemento {
    background-color: #FACECE;
    height: 2.5rem;
    border-radius: 0.5rem;
}

/* CONGURAÇÕES FOOTER*/
/* configurações de footer com botao de voltar */
/*Configuração do footer*/
footer {
    display: flex;
    margin-top: auto;
}


footer>div {
    flex-grow: 1;
}

/*Configuração da div "voltar"*/
.voltar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

/*Configuração do icone de voltar*/
.icone_voltar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2rem;
    margin-bottom: 1rem;
}


.icone_voltar:hover {
    background-color: #adb8957a;
    border-radius: 100%;
    scale: 1.05;
}

/*Configuração da imagem da div "voltar"*/
.icone_voltar>img {
    max-width: 12rem;
}