html {
    font-size: 62.5%;
}

*{
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #feebeb;
}

.divflor {
    display: flex;
    justify-content: flex-end;
}

footer {
    display: flex;
    margin-top: auto;
}

.tulipas,
.tulipasbaixo {
    max-width: 20rem;
    max-height: 20rem;
}

header {
    display: flex;
    flex-direction: line;
}

header>div {
    flex-grow: 1;
}

.logo {
    max-width: 10rem;
    max-height: 10rem;
}

.divlogo {
    display: flex;
    justify-content: flex-start;
    align-items: start;
}

header>div>p{
    color: #adb895;
    font-size: 2.5rem;
    font-family: Arial;

}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    color: #adb895;
}

nav>p{
    font-size: 3rem;
    font-family: Arial;
    padding: 4rem;
}

nav>label{
    float: left;
    color: #adb895;
    font-size: 2rem;
    font-family: Arial;
}

nav>input{
    background-color: #FACECE;
    width: 50rem;
    border: none;
    height: 3rem;
    border-radius: 0.5rem;
}

.botao_enviar{
    background-color: #adb895;
    color: #feebeb;
    border: none;
    border-radius: 0.6rem;
    height: 4rem;
    width: 10%;
    font-family: arial;
    font-size: 1.8rem;
    font-weight: bold;
}

footer>div>button{
    margin-left: 120rem;
    margin-top: 8rem;
    background-color: #adb895;
    color: #feebeb;
    border: none;
    border-radius: 0.6rem;
    height: 4rem;
    width: 10%;
    font-family: Arial;
    font-size: 1.8rem;
    font-weight: bold;
    
}

