@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Setando font-size e cor de fundo da página */
html {
    font-size: 62.5%;
    background-color: #feebeb;
}

/* Reset da página */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:default; /*mantem cursor padrao*/
}

/* Setando o tamanho do body em 100% do viewport e display flex */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}


/* H  E  A  D  E  R */
header {
    display: flex;
    flex-direction: line;
    background-color: #adb895;
}

/* Utilizado para que as duas divs do header dividam a tela */
header > div {
    flex-grow: 1;
}

/* Configuração da div que contém logo/nome do sistema */
.divlogo {
    display: flex;
    justify-content: flex-start;
    align-items: start; 
}

/* Configuração logo sistema */
.logo {
    margin: 1rem;
    padding: 1rem;
    max-width: 8rem;
    max-height: 8rem;
    background-color: #FEEBEB;
    border-radius: 50%;
}


/* Configurações do nome do sistema no header */
header>div>p{
    margin-top: 2rem;
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #feebeb;
    display: flex;
    flex-direction: column;
}


/* Configuração da saudação ao usuário no header */
.saudacao-usuario{
    display: flex;
    justify-content: flex-end;
    align-items: start;
}

/* Ícone que identifica que o usuário logado */
.icone-perfil{
    margin-right: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    max-width: 8rem;
    max-height: 8rem;
    background-color: #FEEBEB;
    border-radius: 50%;
    border: 0.2rem solid #D17587;;
}

/* Configuração texto "Olá, Usuário" */
.saudacao-usuario > p{
    margin-right: 8rem;
    margin-top: 3.5rem;
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #feebeb;
}
/* F  I  M    H  E  A  D  E  R */


/* P  R  I  N  C  I  P  A  L */
nav{
    display: flex;
    flex-direction: row;
    gap: 13rem;
    margin: auto;

}

/* Configuração das divs dos itens de menu */
.meus-dados, .meus-pedidos, .cardapio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #adb895;
    padding: 5rem 7rem;
    border-radius: 50%;
    border: 0.3rem solid #D17587;
}

/* Configurações dos ícones de menu */
.icone-menu{
    max-width: 13rem;
}

/* Configurações de estilo para quando passar o mouse sobre cada item de menu na tela*/
.meus-dados:hover, .meus-pedidos:hover, .cardapio:hover{
   filter: grayscale(40%);
   scale: 1.1;
}

/* Configuração do texto dos itens de menu */
.meus-pedidos > h1, .cardapio > h1, .meus-dados > h1{
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: #FEEBEB;
    margin-top: 1rem;
}

/* F  I  M    P  R  I  N  C  I  P  A  L */


/* F  O  O  T  E  R */
footer {
    display: flex;
    flex-direction: row;
}

/* Div que agrupa os ícones e texto das redes sociais da confeitaria */
.redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    background-color: #facece;
}

/* Texto principal "Redes Sociais" */
.redes-sociais > h1{
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    color: #D17587;
    margin-top: 1rem;
    padding: 0rem 3rem;
    letter-spacing: 0.3rem;
    
}

/* Configurando div que agrupa os dois ícones */
.icones-redes-sociais{
    display: flex;
    flex-direction: row;
}

.logo-instagram, .logo-whatsapp{
    height: 5rem;
    width: 5rem;
    margin: 2rem;
}

/* Configurações de estilo para quando passar o mouse sobre cada ícone de rede social*/
.logo-instagram:hover, .logo-whatsapp:hover{
    filter: grayscale(40%);
    scale: 1.1;
}

/* Configurações botão de sair do sistema */
.botao-sair{
    margin-left: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

}

/* Imagem sair do sistema */
.botao-sair > img{
    max-width: 5rem;
    max-height: 5rem;
}

/* Texto sair do sistema */
.botao-sair > h1{
    font-family: "Inter", sans-serif;
    font-size: 3rem;
    color: #D17587;
    margin-top: 0.6rem;
    margin-left: 2rem;

}

/* Configurações de estilo para destacar botão de sair ao posicionar o cursor sobre ele*/
.botao-sair:hover{
    filter: grayscale(20%);
    scale: 1.05;

}
/* F  I  M    F  O  O  T  E  R */

