/*o font size na tag HTML é para padronizar a fonte em 10px, tornando mais fácil trabalhar com a medida rem*/
html {
    font-size: 62.5%;
}

/*RESET - Utilizado para aplicar os estilos em todo o conteúdo da página*/
*{
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*foi aplicado o tamanho do body em 100% do viewport e um background rosa, além do display flex*/
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #feebeb;
}

/*flor superior - alinhada a direita*/
.divflor {
    display: flex;
    justify-content: flex-end;
}

/*margin-top para fixar o footer no fim do body*/
footer {
    display: flex;
    margin-top: auto;
}

/*aplicado o tamanho das flores*/
.tulipas,
.tulipasbaixo {
    max-width: 20rem;
    max-height: 20rem;
}

header {
    display: flex;
    flex-direction: line;
}

header>div {
    flex-grow: 1;
}

.logo {
    max-width: 16rem;
    max-height: 15rem;
    margin-left: 20rem;

}

.divlogo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

fieldset{
    border: solid 0.3rem #ADB895;
    border-radius: 1rem;
    width: 25rem;
    height: 35rem;
    margin: auto;

}



legend{
    color: #feebeb;
    background-color: #ADB895;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    text-align: left;
    font-size: 1.5rem;
}

section{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Fieldset 1 - Dados pessoais - somente os inputs*/

.f1>input{
    background-color: #FACECE;
    width: 21rem;
    border: none;
    height: 2rem;
    border-radius: 0.5rem;

}
/*Fieldset 1 - Dados pessoais - somente os labels*/

.f1>label{
    margin-bottom: 0.2rem;
    float: left;
    color: #ADB895;
    font-family: Arial;
    font-size: 1.3rem;
}
/*Fieldset 1 - Dados pessoais - todo conteudo*/

.f1{
    text-align: center;
    padding: 6rem;
    margin-bottom: 6rem;
}

.f2{
    text-align: center;
    padding: 6rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
}




         









.linha1,.linha2,.linha3,.linha4,.linha5 > label{
    text-align: left;
    font-family: Arial;
    font-size: 1.3rem;
    color: #ADB895;
}

.linha3, .linha5 {
    display: flex;
    flex-direction:column;
}

/*AS 3 LINHAS ABAIXO POSSUEM 2 ITENS NA MESMA LINHA, O flex-direction: row DEIXA TODOS ITENS NA MESMA LINHA*/
.linha1, .linha2, .linha4 {
    display: flex;
    flex-direction: row;
}


/*OS ITENS ABAIXO SÃO DIVs DENTRO DAS SUAS RESPECTIVAS LINHAS, O flex-direction: column É PRO LABEL FICAR EM CIMA DO INPUT*/
.itemlinha1, .itemlinha2, .itemlinha4 {
    display: flex;
    flex-direction: column;
}


/*CONFIGURAÇÃO DOS CAMPOS*/
#cep, #rua, #numero, #bairro, #cidade, #uf, #complemento {
    margin-bottom: 0.2rem;
    background-color: #FACECE;
    border: none;
    border-radius: 0.5rem;
    width: 20rem;
    height: 2rem;

}

#numero, #uf{
    width: 5rem;
    height: 2rem;
}

#bairro{
    width: 20rem

}

#complemento{
    width: 100%;
    height: 7rem;
}

#cidade, #rua {
    width: 20rem;
    margin-right: 4rem;

}



/*CONFIGURAÇÃO DO BOTAO DE PESQUISAR*/
.botao {
    border-radius: 0.6rem;
    margin-top: 1.8rem;
    margin-left: 3rem;
    width: 3rem;
    height: 2rem;
    background-color: #FACECE;
    border-color: #D17587;
    color: #D17587;
    font-weight: bold;
}

























.botao_registrar{
    background-color: #ADB895;
    color: #FEEBEB;
    border: none;
    border-radius: 0.6rem;
    height: 5rem;
    width: 10%;
    margin-left: 52rem;
    font-family: arial;
    font-size: 1.8rem;
    font-weight: bold;

}

.botao_voltar{
    background-color: #ADB895;
    color: #FEEBEB;
    border: none;
    border-radius: 0.6rem;
    height: 5rem;
    width: 10%;
    margin-left: 52rem;
    font-family: arial;
    font-size: 1.8rem;
    font-weight: bold;

}

p{
    color: red;
}

.dados_pessoais{
    margin-left: 5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 42vh;
    width: 28vw;
}

.endereco{
    margin-right: 5rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 42vh;
    width: 28vw;
}

.search{
    color: #ADB895;
    width: 1rem;
    height: 1rem;
    
}





